{% extends "base.html" %}
{% block content %}
{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "css/bouton.css" %}" media="all" />
<title>Scan Répertoires</title>
</head>
<br>
<body>
<form autocomplete='off' class='form' method="POST">
 {% csrf_token %}
  <div class='control'>
    <h1>
      Scan Répertoires
    </h1>
  </div>
  <div class='control block-cube block-input'>
    <input name='ip' placeholder="Entrer l'IP ou l'URL" type='text'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
  </div>

  <button class='btn block-cube block-cube-hover' type='submit'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
      Start
    </div>
  </button>
  <b><p>
    Examples:
  </p></b>
  <p>
    192.168.1.0
  </p>
  <p>
    www.monsite.com
  </p>
</form>
{{ response }}
<script>
    var eventsource = new EventSource("{% url 'dirscan'%}")
    eventsource.onopen = function(){
        console.log("Connection opened");
    }
    eventsource.onmessage = function () {
        console.log(e);
    }
    eventsource.onerror = function (){
        console.log('error:')
    }
</script>

 {% if error %}
     <div class="alert alert-danger" role="alert">
         {{ error }}
     </div>
 {% endif %}
</body>
{% endblock %}